- if !@has_children
  = render "shared/groups/empty_state"
- else
  #js-groups-overview-children-tree
    .loading-container.text-center
      = icon('spinner spin 2x', class: 'loading-animation prepend-top-20')
    .card.prepend-top-10.hidden
      .card-header
        %h4.card-title.inline
          = _('Subgroups and projects')
        = render "shared/groups/search_form", search_id: 'overview-children', target_section: 'subgroups_and_projects', target_path: group_subgroups_and_projects_path, css_classes: 'append-right-10 pull-right'
      %ul.content-list.subgroups-and-projects
        .js-groups-list-holder{ data: { hide_projects: 'false', group_id: group.id, path: group_path(group) } }
      .card-footer.text-center.hidden
        = link_to group_subgroups_and_projects_path, data: { target: 'div#children', action: 'subgroups_and_projects'} do
          = _('Show more subgroups and projects')

  #js-groups-overview-shared-tree
    .loading-container.text-center
      = icon('spinner spin 2x', class: 'loading-animation prepend-top-20')
    .card.prepend-top-10.hidden
      .card-header
        %h4.card-title.inline
          = _('Shared projects')
        = render "shared/groups/search_form", search_id: 'overview-shared', target_section: 'shared', target_path: group_shared_path, css_classes: 'append-right-10 pull-right'
      %ul.content-list.shared-projects
        .js-groups-list-holder{ data: { hide_projects: 'false', group_id: group.id, path: group_path(group) } }
      .card-footer.text-center.hidden
        = link_to group_shared_path, data: { target: 'div#shared', action: 'shared'} do
          = _('Show more shared projects')

